@model List<LPAShop.NET06.Models.CartItem>

@{
    ViewData["Title"] = "Giỏ hàng của bạn";
    ViewData["UserID"] = ViewBag.UserID;
    ViewData["UserName"] = ViewBag.UserName;
    ViewData["CountCart"] = ViewBag.CountCart;
    var TotalPriceAll = Model.Sum(item => item.Quantity * item.Product_Price); // Tính tổng số tiền;
    var TotalPriceAllMobie = 0;
    var i = 1;
}


@if (TempData["InforSuccessRemove"] != null)
{
    <div class="container">
        <div class="alert alert-success" style="font-size: 15px; margin: 20px 0px;"> @TempData["InforSuccessRemove"]</div>
    </div>
}

@if (TempData["InforSuccessUpdate"] != null)
{
    <div class="container">
        <div class="alert alert-success" style="font-size: 15px; margin: 20px 0px;"> @TempData["InforSuccessUpdate"]</div>
    </div>
}

<div class="stuff" style="margin: 20px 0px 300px;">
    <div class="content-header container">
        <nav aria-label="breadcrumb" class="breadcrumb-des">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="breadcrumb-item-title">Trang chủ</a></li>
                <li class="breadcrumb-item active breadcrumb-item-des" aria-current="page">Giỏ hàng của bạn</li>
            </ol>
            <hr>
        </nav>
    </div>
    <div class="content-nd container">
        @if (Model != null && Model.Count > 0)
        {
            <table class="table tb-cart tb-cart-pc">
                <thead>
                    <tr>
                        <th scope="col" class="hiden-mobie">STT</th>
                        <th scope="col" class="hiden-mobie">Hình ảnh</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Giá sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        @*<th scope="col" class="hiden-mobie">Thành tiền</th>*@
                        <th scope="col">Xóa</th>
                        <th scope="col" style="text-align:center;">Cập nhật</th>
                        @*<th scope="col">Chức năng</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" class="hiden-mobie">@i</th>
                            <td class="hiden-mobie">
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Product_ID">
                                    <img src="~/img/img-product/@item.Product_ID-01.jpg" alt="" class="img-product-cart">
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Product_ID" style="text-decoration:none;color:black;font-weight: 700; display:flex; justify-content:space-between;">
                                     @item.Product_Name
                                </a>
                            </td>
                            <td>@item.Product_Price.ToString("C0").Replace(",", ".").Substring(1) ₫</td>
                            <input type="hidden" class="product_price_hiden" value="@item.Product_Price">
                            <td>
                                <input type="number" min="0" max="50" value="@item.Quantity" class="input_quantity"  style="text-align: center; padding: 3px 12px; font-size: 14px;">
                             </td>
                             @*<td>
                                @item.TotalPrice.ToString("C0").Replace(",", ".").Substring(1)  ₫
                             </td>*@
                             <td>
                                <form method="post" action="@Url.Action("RemoveProductFromCart", "Cart")">
                                    <input type="hidden" name="Product_ID" value="@item.Product_ID" />
                                    <button type="submit" class="btn btn-danger" style="font-size: 15px; margin-right: 10px;">Xóa</button>
                                </form>
                             </td>
                             <td style="text-align:center;">
                                <form method="post" action="@Url.Action("UpdateProductFromCart", "Cart")">
                                    <input type="hidden" name="Product_ID" value="@item.Product_ID" />
                                    <input type="hidden" name="Quantity" value="" class="input_quantity_update" />
                                    <button type="submit" class="btn btn-primary" style="font-size: 15px;">Cập nhật</button>
                                </form>
                             </td>

                           @* <td class="hiden-mobie total_price"><span>₫</span></td>*@
                            @*<td class="hiden-mobie" id="total_price">@item.TotalPrice.ToString("C0").Replace(",", ".").Substring(1)  ₫ </td>*@
                           @* <td style="display:flex; flex-direction: row;">
                            </td>*@
                        </tr>
                        @*TotalPriceAll+= item.TotalPrice;*@
                        i++;
                    }
                </tbody>
            </table>



            <table class="table tb-cart tb-cart-mobie">
                <thead>
                    <tr>
                        <th scope="col" style="width:70%;">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Product_ID" style="text-decoration:none;color:black;font-weight: 700;">
                                    @item.Product_Name
                                    <form method="post" action="@Url.Action("RemoveProductFromCart", "Cart")">
                                        <input type="hidden" name="Product_ID" value="@item.Product_ID" />
                                        <button type="submit" class="btn btn-primary">Xóa</button>
                                    </form>
                                </a>
                                <div class="price_product">@item.Product_Price.ToString("C0").Replace(",", ".").Substring(1) ₫</div>
                            </td>
                            <td>@item.Quantity.ToString()</td>
                        </tr>
                        TotalPriceAllMobie += item.TotalPrice;
                        i++;
                    }
                </tbody>
            </table>
            <!-- Hiển thị tổng tiền -->
            <div class="cart-summary" style="text-align: right; margin-top: 20px;">
                <h4 style="margin-top: 20px;">Tổng số tiền: @TotalPriceAll.ToString("C0").Replace(",", ".").Substring(1) ₫</h4>

                <!-- Nút thanh toán -->
                <form method="post" action="@Url.Action("Checkout", "Cart")">
                    <button type="submit" class="btn btn-success" style="margin-top: 20px; font-size: 18px; padding: 10px 20px;">">Thanh toán</button>
                </form>
            </div>
      
        } else
        {
            <div class="alert alert-danger" style="font-size: 15px;"> Giỏ hàng của bạn trống !</div>
        }

        <nav aria-label="Page navigation example" class="nav-paging">
            <ul class="pagination">
                @for (int j = 1; j <= ViewBag.TotalPages; j++)
                {
                    if (@ViewBag.CurrentPage == j)
                    {
                        <li class="page-item"><a class="page-link" style="background-color: black; color:white;" asp-action="Index" asp-controller="ManageProducts" asp-route-page="@j">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="ViewCart" asp-controller="Cart" asp-route-page="@j">@j</a></li>
                    }
                }
            </ul>
        </nav>


        
    </div>


   

</div>



