@{
    var userID = ViewData["UserID"];
    var count = ViewData["CountCart"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LPAShop Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="~/img/img-header-footer/logo.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Wix+Madefor+Text:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive_layout.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/LPAShop.NET06.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="content">
                <div class="image">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/img-header-footer/logo.jpg" alt="Logo" class="logo-header"></a></li>
                </div>
                <div class="leftbar">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-area="" asp-controller="Product" asp-action="Index">Sản phẩm</a></li>
                    </ul>
                </div>
                <div class="searchbar">
                    <form class="d-flex" method="get" asp-action="Search" asp-controller="Product">
                        <input class="form-control me-2" type="search" name="searchString" placeholder="Nhập từ khóa" aria-label="Search">
                        <input class="btn btn-outline-light" type="submit" value="Search">
                    </form>
                </div>

                <div class="rightbar">
                    @if (userID != null)
                    {
                        <ul>
                            <li><a class="pip">Xin chào @ViewData["UserName"]</a></li>
                            <div class="pip"></div>
                            <li><a asp-action="Logout" asp-controller="Account">Đăng Xuất</a></li>
                        </ul>
                    } else
                    {
                        <ul>
                            <li><a asp-action="Register" asp-controller="Account" class="pip">Đăng Ký</a></li>
                            <div class="pip"></div>
                            <li><a asp-action="Login" asp-controller="Account">Đăng nhập</a></li>
                        </ul>
                    }
                </div>
                <div class="btn-bar">
                    <div class="cart">
                        <button class="btn btn-cart" type="submit">
                            <a asp-controller="Cart" asp-action="ViewCart">
                                <div class="cart-icon">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    @if (count != null)
                                    {
                                         <span class="cart-count">@count</span>
                                    }
                                </div>
                            </a>
                        </button>
                    </div>

                    <div class="toggle-bar">
                        <button class="btn btn-bar sidenav-btn">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>

    <div class="main-sidenav">
        <div class="main-slidebar-toogle">
            <i class="fa-solid fa-xmark close"></i>
            <div class="slidebar-toogle">
                <div class="slidebar-toogle-image-logo">
                    <img src="~/img/img-header-footer/logo.jpg" alt="">
                </div>
                @if (userID != null)
                {
                    <h3 class="slidebar-toogle-hello">Xin chào @ViewData["UserName"]</h3>
                    <a asp-action="Logout" asp-controller="Account" class="btn-logout">Đăng Xuất</a>
                    
                }
                else
                {
                   <h3 class="slidebar-toogle-hello">Xin chào</h3>
                    <div class="slidebar-toogle-btn">
                       <a asp-action="Register" asp-controller="Account" class="btn-register">
                            Đăng Ký
                        </a>
                        <a asp-action="Login" asp-controller="Account">Đăng Nhập</a>
                    </div>
                }
                
                <hr style="color: white;">
                <div class="slidebar-toogle-home">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        Trang chủ
                    </a>
                    <a asp-area="" asp-controller="Product" asp-action="Index">
                        Sản phẩm
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="searchbar mobie">
        <form class="d-flex" method="get" asp-action="Search" asp-controller="Product">
            <input class="form-control me-2" type="search" name="searchString" placeholder="Nhập từ khóa" aria-label="Search">
            <input class="btn btn-search btn-outline-dark" type="submit" value="Search">
        </form>
    </div>


    @RenderBody()

    <div class="footer" style="margin-top:25px;" >
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-12" style="margin-bottom: 10px;">
                    <div class="about-our">
                        <h1 class="footer-title">VỀ WEBSITE LPA</h1>
                        <a class="footer-des">Trang chủ</a>
                        <a class="footer-des">Sản phẩm</a>
                        <a class="footer-des">Liên hệ</a>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-12" style="margin-bottom: 10px;">
                    <div class="Guid-and-policy">
                        <h1 class="footer-title">Hướng dẫn và chính sách</h1>
                        <a class="footer-des">Hướng dẫn sử dụng</a>
                        <a class="footer-des">Hướng dẫn bảo quản</a>
                        <a class="footer-des">Chính sách đổi trả và bảo hành</a>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-12" style="margin-bottom: 10px;">
                    <div class="contact">
                        <h1 class="footer-title">Phương thức thanh toán</h1>
                        <div class="pttt">
                            <img src="~/img/img-header-footer/phuongthucthanhtoan.png" alt="Phương thức thanh toán" width="90%">
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-3 col-lg-3 col-12" style="margin-bottom: 10px;">
                    <div class="contact">
                        <h1 class="footer-title">Kết nối với chúng tôi</h1>
                        <div class="contact-logo">
                            <div class="logo">
                                <img src="~/img/img-header-footer/facebook.png" alt="facebook" class="img-logo">
                            </div>
                            <div class="logo">
                                <img src="~/img/img-header-footer/instagram.png" alt="instagram" class="img-logo">
                            </div>
                            <div class="logo">
                                <img src="~/img/img-header-footer/youtube.png" alt="Youtube" class="img-logo">
                            </div>
                            <div class="logo">
                                <img src="~/img/img-header-footer/google-maps.png" alt="google-maps" class="img-logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="source">
                Create by DANH - 31201024722
            </div>

           
        </div>
    </div>
    <script src="https://kit.fontawesome.com/bf30af9e8d.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @*<script src="~/js/home.js" asp-append-version="true"></script>*@
    <script src="~/js/product.js" asp-append-version="true"></script>
    <script src="~/js/detail.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
